$colore-navbar: #20242d;
$colore-header1: #1E292E;
$colore-header2: #30323F;
$colore-header3: #1E2931;
$colore-testo: white;
$colore-primario: #bf504f;

$font-testo: "Lato", serif;
$border-color: #ddd;
$hover-bg-color: #f1f1f1;
$even-row-bg-color: #f9f9f9;
$th-bg-color: white ;
