$schermo-mobile: 860px;
$schermo-tablet: 1100px;

@media (max-width: $schermo-mobile) {
   
    .navbar {
        position: relative;
        opacity: 1;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        
        a {
            font-size: 16px;
            padding: 10px 12px;
        }
    }

    .navbarLinks {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        a {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    header {
        height: auto;
        padding: 30px;
        
        h1 {
            font-size: 40px;
            margin-top: 50px;
        }
    }

    .introduzione {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .img {
        margin-right: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .myimg {
        width: 60%;
        height: 60%;
    }

    .footer {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin: 30px 0;
        }
    }

    .logoCA, .logoIFOA {
        max-width: 150px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .policy {
        margin-left: 0;
        margin-top: 15px;
    }

    .icone {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        margin-left: 200px;

        a {
            margin: 0 15px;
            font-size: 15px;
        }
    }

    .container-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto; 
      }
      
      button {
        width: 100%; 
        max-width: 300px; 
        padding: 10px;
        margin: 5px 0;
      }

    .presentazione2 {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 20px;
    }

    .section-chiSiamo {
        flex-direction: column;
        font-size: 18px;
    }

    .container-fototessera-zullo {
        margin: 0;
        margin-top: -100px;
    }

    .container-fototessera-taccogna {
        margin: 0;
    }

    .fototessera {
        width: 80%;
        max-width: 250px;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .titolo {
        font-size: 40px;
        margin-left: 8px;
    }

    .container-introduzione {
        text-align: center;
    }
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
        max-width: fit-content;
        
      }
}

@media (max-width: $schermo-tablet) {
    .section-chiSiamo {
        width: 100%;
    }
    button {
        width: 100%; 
        max-width: 400px; 
        padding: 10px;
        margin: 5px 0;
      }

      .container-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto; 
      }
    .presentazione2 {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 20px;
    }
}

  